{{!-- clickable links --}}
	<ul class="list-group topmargin">
	  {{#link-to 'guardians' tagName="li" class="list-group-item"}}<a href>Profile</a>{{/link-to}}
	  {{#link-to 'guardianrequests' tagName="li" class="list-group-item"}}<a href>Request ride</a>{{/link-to}}
	  {{#link-to 'guardiansridehistories' tagName="li" class="list-group-item"}}<a href>View ride history</a>{{/link-to}}
	  {{#link-to 'guardiansridecancels' tagName="li" class="list-group-item"}}<a href>Cancel ride</a>{{/link-to}}
	  {{#link-to 'kidsridecancels' tagName="li" class="list-group-item"}}<a href>Switch to volunteer</a>{{/link-to}}
	 </ul>

{{yield}}


{{yield}}
