<div class="list-group">
  {{#link-to 'guardians.dashboard' tagName='li' class="list-group-item "}}<a href>Dashboard</a>{{/link-to}}
  {{#link-to 'guardians.reqfromkids' tagName='li' class="list-group-item "}}<a href>New Requests from Kids <span class="badge badge-secondary" style="float:right;"> 1</span></a>{{/link-to}}
  {{#link-to 'guardians.makerequests' tagName='li' class="list-group-item "}}<a href>Make Requests </a>{{/link-to}} 
  {{#link-to 'guardians.profile' tagName='li' class="list-group-item "}}<a href>My Profile</a>{{/link-to}}
</div>

{{yield}}
