<div class="jumbotron jumbotron-fluid">
	<div class="container">

		<h3 class="display-3">Personal Information</h3> 
		<p><strong>Name: </strong> Isaac Shrestha <br/>
		<strong>Phone: </strong> 402-889-7788 <br/>
		<strong>Email: </strong> cashcows@gmail.com <br/>
		<strong>Address: </strong> Jones Circle<br/>
		<strong>Address: </strong> Jones Circle</p>

		<h3 class="display-3">Kids</h3>  
		
		<p><strong>Name: </strong> Bobby <br/>
			<strong>School: </strong> North Omaha<br/>
		</p>

		<p><strong>Name: </strong> John <br/>
			<strong>School: </strong> North Omaha<br/>
		</p>
		

		{{#link-to 'guardians.newprofile'}}<button class="btn btn-block btn-success">Update</button>{{/link-to}}

	</div>

</div>


{{yield}}
