<p>&nbsp;</p>
<h3> View ride history </h3>
<p>&nbsp;</p>

<form>
	<label>Beginning from</label>
	{{bootstrap-datepicker autoclose=true orientation="right" }}

	<label>To</label>
	{{bootstrap-datepicker autoclose=true orientation="right" }}
</form>

<p>&nbsp;</p>
<div class="table-responsive">
	<table class="table table-hover" border="1" cellpadding="5" cellspacing="5">
		<tr>
			<th>Driver's name</th>
			<th>Pickup location</th>
			<th>Dropoff location</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr>
			<td>John Meik</td>
			<td>Home address</td>
			<td>School address</td>
			<td>15/7/2017</td>
			<td>08:00:00 AM</td>
		</tr>
		<tr>
			<td>John Meik</td>
			<td>Home address</td>
			<td>School address</td>
			<td>15/7/2017</td>
			<td>08:00:00 AM</td>
		</tr>
		<tr>
			<td>John Meik</td>
			<td>Home address</td>
			<td>School address</td>
			<td>15/7/2017</td>
			<td>08:00:00 AM</td>
		</tr>
	</table>
</div>

{{yield}}

