<div class="list-group">
  {{#link-to 'kids.newridereq' tagName='li' class="list-group-item "}}<a href>Request Ride</a>{{/link-to}}
  {{#link-to 'kids.ridealerts' tagName='li' class="list-group-item "}}<a href>Ride Alerts <span class="badge badge-secondary" style="float:right;"> 1</span></a>{{/link-to}} 
  {{#link-to 'kids.ridehistory' tagName='li' class="list-group-item "}}<a href>Ride History</a>{{/link-to}}
  {{#link-to 'kids.showprofile' tagName='li' class="list-group-item "}}<a href>My Profile</a>{{/link-to}}
</div>

{{yield}}
