<div class="jumbotron jumbotron-fluid">
<img src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/
    800x450/format/jpg/quality/85/http://www.blogcdn.com/green.autoblog.com/media/2007/03/img_1963small.jpg" width="auto" 
    height="120" align="right" border="2" />
  <div class="container">
    <h2 class="display-3">Your ride is arriving soon!</h2> <br/><br/>
    
    <p><strong>Pickup Time:</strong>  08:00 AM <br/>
    	<strong>Pickup Date:</strong>  10/18/2017  <br/>
     	<strong>Pickup Location:</strong>  Jones Circle <br/>
     	<strong>Dropoff Location:</strong>  North Omaha  </p>

     <p><strong>Driver's Name:</strong>  Mr. Alexa <br/>
    	<strong>Car model:</strong>  Nissan Altima  <br/>
     	<strong>Registration Number:</strong>  UWE 719  </p>
  </div>
</div>

{{yield}}
