<div class="list-group">
  {{#link-to 'kids.dashboard' tagName='li' class="list-group-item "}}<a href>Dashboard</a>{{/link-to}}
  {{#link-to 'kids.profile' tagName='li' class="list-group-item "}}<a href>My Profile</a>{{/link-to}}
  {{#link-to 'kids.history' tagName='li' class="list-group-item "}}<a href>Ride History</a>{{/link-to}}
</div>

{{yield}}
