<div class="container container-bg">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			{{!-- clickable links --}}
			<ul class="list-group topmargin">
			  <li class="list-group-item active">Request ride</li>
			  <li class="list-group-item">Cancel ride</li>
			  <li class="list-group-item">View History</li>
			  <li class="list-group-item">Profile</li>
			</ul> 
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
			<h3> Request a ride </h3>

			

		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		{{!-- clickable links --}}
			<ul class="list-group"> <h3> Booked Rides </h3>
			  <li class="list-group-item"><span>Mon Aug 17, 2017 7:10 AM GST</span></li>
			  <li class="list-group-item"><span>Mon Aug 17, 2017 7:10 AM GST</span></li>
			</ul>
		</div>
	</div>
</div>

{{yield}}
