{{!-- clickable links --}}
	<ul class="list-group topmargin">
	  {{#link-to 'kids' tagName="li" class="list-group-item"}}<a href>Profile</a>{{/link-to}}
	  {{#link-to 'kidsriderequests' tagName="li" class="list-group-item"}}<a href>Request ride</a>{{/link-to}}
	  {{#link-to 'kidsridehistories' tagName="li" class="list-group-item"}}<a href>View ride history</a>{{/link-to}}
	  {{#link-to 'kidsridecancels' tagName="li" class="list-group-item"}}<a href>Cancel ride</a>{{/link-to}}
	 </ul>

{{yield}}
