<p>&nbsp;</p>
<h3> Profile </h3>
<p>&nbsp;</p>

<div>
	<p>Name: </p>
	<p>Address:</p>
	<p>Contact number:</p>
	<p>School:</p>
	<p>Guardian:</p>

	<p>{{input type="checkbox" name="guardian1" checked=true disabled=true}} Send notification when a request is accepted</p>
	<p>{{input type="checkbox" name="guardian2" checked=true disabled=true}} Send notification when ride is about to arrive</p>
	<p>
		<button class="btn btn-primary">Update</button>
		<button class="btn btn-success">OK</button>
	</p>

</div>

{{yield}}
