 <div class="row" style="font-weight:bold; border-bottom: 1px solid #ccc; margin-left: 5px;">
   
    <div class='col-md-2' >Date</div>   
    <div class='col-md-2'>Time</div>
    <div class='col-md-2'>Pickup</div>
    <div class='col-md-2'>Dropoff</div>
    <div class='col-md-2'>Status</div>
 </div>
   
{{yield}}
