<div class="jumbotron jumbotron-fluid">
	<h2>New ride requests</h2>
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Pickup location</th>
        <th>Dropoff location</th>
        <th>Driver</th>
        <th>Accept Requests</th>
        <th>Cancel Requests</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/20/2017</td>
        <td>8:00 AM</td>
        <td>Jones Circle</td>
        <td>North Omaha</td>
        <td>Mr. Alex</td>
        <td><button {{action 'cancelRequest'}} class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span></button></td>
        <td><button {{action 'cancelRequest'}} class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
      </tr>
      
    </tbody>
  </table>
</div>

{{yield}}
