<div class="list-group">
  {{#link-to 'volunteers.dashboard' tagName='li' class="list-group-item "}}Dashboard{{/link-to}} 
  {{#link-to 'volunteers.viewrides' tagName='li' class="list-group-item "}}Booked ride{{/link-to}}
  {{#link-to 'volunteers.newriderequests' tagName='li' class="list-group-item "}}Volunteer{{/link-to}}
  {{#link-to 'volunteers.makerequests' tagName='li' class="list-group-item "}}Request ride{{/link-to}}
  {{#link-to 'volunteers.ridehistories' tagName='li' class="list-group-item "}}Ride histories{{/link-to}}
  {{#link-to 'volunteers.profile' tagName='li' class="list-group-item "}}My Profile{{/link-to}}
</div>

{{yield}}
