<div class="jumbotron jumbotron-fluid">
	<h2>Ride requests list</h2>
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Pickup location</th>
        <th>Dropoff location</th>
        <th>Driver</th>
        <th>Travel Map</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/20/2017</td>
        <td>8:00 AM</td>
        <td>Jones Circle</td>
        <td>North Omaha</td>
        <td>Mr. Alex</td>
        <td><img src="http://images2.loopnet.com/m2/bG33UKhmnDo9LScz8AyDxu-2mQ9ibpXXXk9die86RfX_CZhu6kmkbJ8whN5clLJfPF3YCxa206apWukPQDdZGsCByzKiDUKCnYAaMxR1b1MZqS6MsbXSTtn3yU4dPpRM/H350W626/map.jpg" width="auto" height="80" alt="#" /></td>
      </tr>
       <tr>
        <td>10/20/2017</td>
        <td>8:00 AM</td>
        <td>Jones Circle</td>
        <td>North Omaha</td>
        <td>Mr. Alex</td>
        <td><img src="http://images2.loopnet.com/m2/bG33UKhmnDo9LScz8AyDxu-2mQ9ibpXXXk9die86RfX_CZhu6kmkbJ8whN5clLJfPF3YCxa206apWukPQDdZGsCByzKiDUKCnYAaMxR1b1MZqS6MsbXSTtn3yU4dPpRM/H350W626/map.jpg" width="auto" height="80" alt="#" /></td>
      </tr>
     
    </tbody>
  </table>
</div>

{{yield}}
