<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		{{volunteers-menu}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class='row well well-lg'>
		<h3>Ride History</h3>
		<div class='row well'>
			{{ride-header}}
			{{#each model as |completedRide|}}
				{{#if (eq completedRide.status 'completed')}}
					<div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
						{{ride-display ride=completedRide}}
					</div>
				{{/if}}
			{{/each}}
		</div>
		</div>
	</div>

</div>