<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		{{volunteers-menu}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		{{volunteers-ride-histories}}
	</div>

</div>