<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="row">
		<div class="row">		
			<nav class="navbar navbar-light" style="background-color: #337AB7;">
				<div class="container-fluid">
					<div class="navbar-header">
					{{#link-to 'login'}}<div class="navbar-brand" style="color: #fff;" >Poiesis - Enjoy carpooling!</div>{{/link-to}}
					</div>
									
					<ul class="nav navbar-nav navbar-right">
					{{#if session.isAuthenticated}}
						<li > <a href="" {{action 'logout' on='click'}}><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>				
					{{else}}				
						<li>{{#link-to 'register'}}<span class="glyphicon glyphicon-user"></span> Sign Up{{/link-to}}</li>
						<li>{{#link-to 'login'}}<span class="glyphicon glyphicon-log-in"></span> Login{{/link-to}}</li>
					{{/if}}
					</ul>
					
				</div>
			</nav>
		</div>

	{{outlet}}

		
	</div>
</div>

