<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			&nbsp;
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<img src="https://green.uw.edu/sites/default/files/snapshot/i405_TDM_icon_vanpool4.gif" class="img-fluid" alt="poiesis-carpooling" 
			width="150" height="150"/>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
			<h1>Poiesis - Enjoy carpooling!</h1>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			&nbsp;
		</div>
	</div>

	{{outlet}}
</div>
